:root {
  /* 
    h => hover
    s => Shadow
  */
  --main-background: hsl(222, 26%, 31%);
  --text-color: hsl(0, 0%, 90%);

  /*  numbers Color */
  --number-color: hsl(0, 0%, 90%);
  --number-background: hsl(0, 0%, 90%);
  --s-number-background: hsl(28, 16%, 65%);
  --h-number-background: hsl(0, 0%, 100%);

  /*  Equal  And toggle color */
  --equal-color: hsl(6, 63%, 50%);
  --s-equal-color: hsl(6, 70%, 34%);
  --h-equal-color: hsl(6, 63%, 60%);

  /*  body color */
  --body-background: hsl(223, 31%, 20%);

  /*  result color */
  --result-background: hsl(224, 36%, 15%);

  /*  Equal Button Color */
  --del-rest-but: hsl(225, 21%, 49%);
  --s-del-rest-but: hsl(224, 28%, 35%);
  --h-del-rest-but: hsl(225, 21%, 60%);

  --main-transition: 0.3s;
  --main-margin: 30px;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--main-background);
  color: black;
  transition: var(--main-transition);
}

.container {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  width: 500px;
  padding: 20px;
}
/*  media phone */
@media (max-width: 600px) {
  .container {
    width: 400px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--main-margin);
}

.header > p {
  font-size: 22px;
  font-weight: bold;
  color: var(--text-color);
  margin: 20px 0 0;
}

.header .themes {
  display: flex;
  justify-content: space-between;
}

.header .themes .text {
  position: absolute;
  right: 90px;
  top: 34px;
}
.header .themes > p {
  padding: 20px;
  color: var(--text-color);
  font-size: 11px;
  letter-spacing: 1.2px;
  font-weight: bold;
}
.header .themes .colors {
  height: 25px;
  margin: auto;
  border-radius: 10px;
  position: relative;
  padding: 0 5px;
  text-align: center;
}

.header .themes .colors .theme {
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin: 5px 0;
  color: var(--text-color);
  position: relative;
  cursor: pointer;
}

.header .themes .colors p.active::after {
  content: "";
  position: absolute;
  background-color: var(--equal-color);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: block;
  margin: 10px 0;
  transition: var(--main-transition);
  cursor: default;
}

.header .themes .colors .spans {
  display: flex;
  background-color: var(--body-background);
  width: 70px;
  height: 100%;
  border-radius: 20px;
}

/* Start  Result */
.result {
  height: 80px;
  border-radius: 12px;
  background-color: var(--result-background);
  color: var(--text-color);
  margin-bottom: var(--main-margin);
}
.result input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: var(--text-color);
  display: block;
  font-size: 40px;
  text-align: right;
  padding: 15px 15px;
  font-weight: bold;
}
/* End Result */
/* Start Body */
.body {
  background-color: var(--body-background);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: var(--main-margin);
}
.body .nums {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: auto auto;
  gap: 20px;
  margin-bottom: var(--main-margin);
}

/*  media phone */
@media (max-width: 600px) {
  .body .nums {
    grid-template-columns: repeat(4, 75px);
  }
}

.body .nums input {
  outline: none;
  border: 0;
  font-weight: bold;
  background-color: var(--number-background);
  box-shadow: 0px 4px var(--s-number-background);
  color: var(--number-color);
  transition: var(--main-transition);
}
.body .nums input:hover {
  background-color: var(--h-number-background);
}
.body .last {
  display: flex;
  text-align: center;
  justify-content: space-between;
  gap: 20px;
}

.body .last input {
  padding: 20px;
  width: 100%;
  color: white;
  border-radius: 10px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: 0;
}

.body .nums input,
.body .last input {
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
}

.body .nums input[value="DEL"],
.body .last input:first-child {
  background-color: var(--del-rest-but);
  box-shadow: 0px 4px var(--s-del-rest-but);
  color: var(--text-color);
  transition: var(--main-transition);
}

@media (max-width: 600px) {
  .body .nums input[value="DEL"] {
    font-size: 24px;
    padding: 0;
  }
}
.body .nums input[value="DEL"]:hover,
.body .last input:first-child:hover {
  background-color: var(--h-del-rest-but);
}

.body .last input:last-child {
  background-color: var(--equal-color);
  box-shadow: 0px 4px var(--s-equal-color);
  font-size: 35px;
  transition: var(--main-transition);
}

.body .last input:last-child:hover {
  background-color: var(--h-equal-color);
}
/* End Body */
/* Start Footer  */
.attribution {
  padding: 10px 20px;
  font-size: 16px;
  list-style: none;
  text-decoration: none;
  border-radius: 20px;
  color: var(--text-color);
  font-size: 14px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  color: cadetblue;
  text-decoration: none;
  font-size: 17px;
}

/* End Footer  */
